.popup2 {
  position: fixed;
  inset: 0; /* shorthand for top, left, bottom, right = 0 */
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 1;
}
  
.popup2-open {
  opacity: 1;
  visibility: visible;
}
  
.popup2-inner {
  background-color: #7dfafa;
  border-radius: 1rem;
  padding: 2rem 2rem 2rem 2rem;
  padding-right: 5rem;
  width: auto;
  height: auto;
  min-width: 16rem;
  max-width: 90vw;
  max-height: 25vh;
  overflow: auto;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
  
  
.close2 {
  position: absolute;
  top: 0.5rem;
  right: 0.75rem;
  font-size: 1.2rem;
  padding: 0.25rem 0.5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
  
  @keyframes popupGrow {
    0% {
      transform: scale(0.2)  translate(10%, -10%);
    }
    100% {
      transform: scale(1) translate(0, 0);
    }
  }

  /* Media Queries for responsiveness */
@media (max-width: 360px) {
  .popup2 {
    top:5rem;
    right: 1rem; /* Align with the right edge of the button */

  }
}

@media only screen and (max-height: 666px), 
        only screen and (max-width: 792px) {

}

@media only screen and (max-height: 535px),
        only screen and (max-width: 470px) {
    
}

@media only screen and (max-height: 422px),
        only screen and (max-width: 355px) {
   
}

@media only screen and (max-height: 422px),
        only screen and (max-width: 355px) {
 
}
  