.tableName {
  font-size: 2.5rem;
  right: 2.5rem;
}

@media only screen and (max-width: 880px) {
  .tableName {
    font-size: 2rem;
    right: 1rem;
  }
}

@media only screen and (max-width: 792px) {
  .tableName {
            font-size: 1.1rem;
            right: 1rem;
          }
}

@media only screen and (max-width: 470px) {
  .tableName {
            font-size: 1.1rem;
            right: 1rem;
          }
}

@media only screen and (max-width: 395px) {
  .tableName {
            font-size: 1.1rem;
            right: 1rem;
          }
}
