/* Table container styles */
.table-container {
  margin: 2rem auto;
  max-width: 90%;
  overflow-x: auto;
  overflow-y: auto;
  position: relative; /* For positioning resize handles */
  max-height: 40rem; /* Set a fixed height for the scrollable container */
}

/* Table styles */
.table-auto {
  table-layout: auto;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

thead {
  background-color: gainsboro;
  position: sticky;
  top: 0;
  z-index: 1;
}

/* Table cell styles */
td, th {
  min-width: 5rem; /* minimum width for each cell */
 /* max-height: 7rem; /* Maximum height for each cell */
  word-wrap: break-word; /* Ensure long text wraps within the cell */
  word-break: break-word;
  overflow: hidden; /* Prevent overflow */
  vertical-align: top; /* Align text and content to the top */
  text-align: center; /* Center-align text and other content */
  padding: 0.5rem;
  position: relative; /* For positioning resize handles */
}

/* Input and textarea styles */
.plotTableInput,
.plotTableTextarea {
  resize: none; /* Disable resize handle */
  width: 100%; /* Full width of the cell */
  height: 100%; /* Full height of the cell */
  /*max-width: 10rem; /* Constrain the width */
  max-height: 10rem; /* Constrain the height */
  overflow-y: auto; /* Enable vertical scrollbar if content exceeds max-height */
  overflow-wrap: break-word; /* Enable word wrapping */
  word-break: break-word; /* Break long words */
  /*overflow: auto; /* Add scrollbar if content exceeds dimensions */
  text-align: center; /* Center-align the text */
  box-sizing: border-box; /* Include padding and border in dimensions */
  padding: 0.25rem; /* Adjust padding for better readability */
  line-height: 1.2; /* Adjust line-height to fit more lines */
  text-overflow: ellipsis; /* Add ellipsis for long text */
}

.plotTableTextarea:hover {
  resize: both;  /* Enable resize handle on hover */
}

/* Image styles */
img {
  max-width: 100%; /* Shrink image to fit cell width */
  max-height: 100%; /* Shrink image to fit cell height */
  display: block; /* Prevent inline gap */
  margin: auto; /* Center the image in the cell */
}

/* Link styles */
a {
  display: inline-block; /* Ensure the link is block-like */
  max-width: 100%; /* Prevent links from overflowing the cell */
  /*text-overflow: ellipsis; /* Add ellipsis for long text */
  white-space: normal; /* Wrap long links */
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word; /* Ensure it breaks if too long */
}